<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Funiro</h4>
                    <p>400 university drive suite 200 coral <br>gables, <br>FL 33134 USA</p>
                </div>
                <div class="footer-col">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">shop</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Help</h4>
                    <ul>
                        <li><a href="#">Payment options</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Privacy Policies</a></li>
                    </ul>
                </div>
                
                <div class="footer-col">
                    <h4>Newsietter</h4>
                    <ul>
                        <li>
                            <input type="text" placeholder="Enter your email">
                            <input type="text" placeholder="Subscribe">
                        </li>
                   
                    </ul>
                </div>
            </div>
          
        </div>
        <div class="container">
            2023 furino. all right reverved
        </div>
    </div>
</body>
</html>