<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="navSec"  id="navLogo">
                <img src="img/Meubel House_Logos-05.jpg" alt="img logo">
                <h2>Furniro</h2>
            </div>
            <div class="navSec" id="navLink">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="navSec" id="navIcon">
                <ul>
                    <li><a href="#"><img src="img/icons/mdi_account-alert-outline.png" alt="Icon login"></a></li>
                    <li><a href="#"><img src="img/icons/akar-icons_search.png" alt="Icon search"></a></li>
                    <li><a href="#"><img src="img/icons/akar-icons_heart.png" alt="Icon of heart"></a></li>
                    <li><a href="#"><img src="img/icons/ant-design_shopping-cart-outlined.png" alt="Icon shopping"></a></li>
                  </ul>
            </div>
        </nav>
    </header>
    <div id="bannerImage">
        <div class="bannerImagefondo">
             <div id="bannerInfo">
            <div id="bannerInfoText">
                <h3>New Arrival</h3>
                <h1>Discover Our New Collection</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis corporis, non perspiciatis veniam alias ullam. Dolorem voluptatum, soluta asperiores pariatur placeat obcaecati, accusantium quae illo cumque consequuntur hic, minima ut.</p>
                <button style='font-family: "Poppins",sans-serif;font-weight: 700; font-size: 16px; color: white; background-color:  #b88e2f; line-height:24px ;width: 222px;height: 74px; margin-top: 15px; border-radius: 5px;' >BUY NOW</button>
            </div>
        </div>
        </div>
       
    </div>
</body>
</html>